* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-image: url(brick.png);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

h2 {
    letter-spacing: 1px;
    font-family:'Franklin Gothic Medium';
    margin: 0px 100px 200px 100px;
    display: table;
    margin: auto;
    justify-content: center;
    text-align: center;
    overflow:auto;
    width: auto;
    background-color:rgb(125, 93, 201);
    padding: 20px;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(255, 239, 226);
}

.box {
    background-color: rgb(255, 248, 239);
    padding-top: 30px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px rgb(61, 31, 133);
}

input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid rgb(61, 31, 133);
    outline: none;
    font-size: 22px;
    margin-top: 20px;
}

input::placeholder {
    font-size: 23px;
}

#button {
    border: #ebb43e;
    color: rgb(244, 233, 250);
    justify-content: center;
    text-align: center;
    overflow:auto;
    width: auto;
    background-color: #ebb43e;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 1px rgb(61, 31, 133);
}

.btn1 {
    margin-left: 95px
}

#button:hover {
    color: white;
    background-color:rgb(125, 93, 201);
}